<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8"/>
<title>Cadastro de titulo</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

	<nav class="navbar navbar-dark bg-primary navbar-expand-md">
		<a class="navbar-brand" href="#"> </a> <img alt="Algaworks"
			src="/imagens/algaimagem2.png" width="123px;" height="48px;">
	</nav>
 
	<form class="form-horizontal" method="POST" action="/titulos" >
	
	  <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}" >
	    
	     <span th:text="${mensagem}">Título salvo com sucesso!</span>
	  </div>
	
		<div class="card">
			<div class="card-header">
				<h1 class="card-title">Novo Título</h1>
			</div>

			<div class="card-body">
			
					<label for="descricao" class="col-md-2 col-form-label">Descrição</label>
					<div class="col-md-4">
						<input type="text" class="form-control" id="descricao" name="descricao">
					</div>
				

				
					<label for="dataVencimento" class="col-md-2 col-form-label">Data
						de vencimento</label>
					<div class="col-md-2">
						<input type="text" class="form-control" id="dataVencimento" name="dataVencimento" />
					</div>
				
				
					<label for="valor" class="col-sm-2 control-label">Valor</label>
					<div class="col-md-2">
						<input type="text" class="form-control" id="Valor" name="valor"/>
					</div>
				
				
					<label for="status" class="col-md-2 col-form-label">Status</label>
					<div class="col-md-2">
						<select class="form-control" name="status">
							<option value="PENDENTE">Pendente</option>
							<option value="RECEBIDO">Recebido</option>
						</select>
					</div>
				
				
					<div class="col-md-offset-2  col-md-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				


			</div>
		</div>
	</form>


	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>